/* Showcase */
.showcase {
    height: 100vh;
    background: url('./img/slider2.jpg') no-repeat center/cover;
    /* background-color: rgba(0, 0, 0, 0.32); */


}
  
  .showcase .overlay {
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: rgba(0, 0, 0, 0.32);

  }